<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Mercado</title>
</head>
<body>
    <header>
        <h2>Seja Bem-Vindo ao Mini-Mercado Online</h2>
    </header>

    <ul>
        <% lista.forEach(function(user){ %>
            <li id="lista">
                <img class="iamgem-mercado" src="<%= user.imagem %>" style="width:100px; height:auto;"> <br>
                <%= user.produto %> <br>
                Valor R$<%= user.preco %>
            </li>
            <% }) %>
    </ul>
</body>
</html>